In [2]:
# data type  intger and float 
a=5
print(a,type(a))
b= 5.5
print(a ,type(a))
a= 2+6j
print(a, type (a))

5 <class 'int'>
5 <class 'int'>
(2+6j) <class 'complex'>

In [3]:
#Write a program that takes two numbers as input and prints their sum.
a= 80
b= 45
c= a*b
print(c)

3600

In [4]:
#String
S="hello ahmad "
print(S,type (S))
s='30'
print(s)
s= '''
hello 
welcome to the GIL
'''
print(s)

hello ahmad  <class 'str'>
30

hello
welcome to the GIL

In [5]:
#List 
L=[20,'ahmad',4.4]
print(L, type(L))

[20, 'ahmad', 4.4] <class 'list'>

In [6]:
#tuple 
t=(80,60,'helllo')
print(t,type(t))

(80, 60, 'helllo') <class 'tuple'>

In [12]:
#Dictionary 
d={
    'Name':'python',
    'feess':800,
    'duration':'2 Month',  
}
 
print(d,type(d))

{'Name': 'python', 'feess': 800, 'duration': '2 Month'} <class 'dict'>

In [11]:
#Set
s={'ahmad','khan','sulaman','noor',10,20,30,90}
print(s,type(s))
   
d={
    'GIL_UOB':'python course',
    'course_duration':'3Month',
}
print(d)

{'ahmad', 10, 'noor', 20, 30, 'khan', 90, 'sulaman'} <class 'set'>
{'GIL_UOB': 'python course', 'course_duration': '3Month'}